/* Reset */
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

/* Fonts & White Theme Colors */
body {
    background-color: #f3f5f9;
    color: #333534;
    font-family: "Nunito", sans-serif;
}

/* Navigation Bar */
nav {
    position: relative;
    padding: 1rem 1rem;
    font-size: 1.3rem;
    align-items: center;
    height: 8vh;
    z-index: 1;
}

nav > div {
    display: inline;
}

nav > div > .nav-link {
    border-bottom: 3px solid transparent;
}

nav > div .nav-link:hover {
    transition-duration: 0.3s;
    border-bottom: 3px solid #ff5964;
}

nav > div > .nav-element {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 3px;
}

/* Links */
a {
    color: #333534;
    cursor: pointer;
    text-decoration: none;
    background-color: transparent;
}

/* Form Input Fields Highlights - White Theme */
input:focus,
select:focus,
textarea:focus {
    outline: none;
    border: 2px solid rgba(0, 0, 0, 0.418);
}

/* Navigation Bar Active Item */
.active {
    border-bottom: 3px solid #ff5964 !important;
}

/* Dark Theme Colors */
.dark-background {
    background-color: #333534;
    color: #f3f5f9;
}

.dark-background a {
    color: #f3f5f9 !important;
}

.dark-background .burger > div {
    background-color: #f3f5f9;
}

/* Float Right */
.float-right {
    float: right;
}

/* Mobile Navigation Bar - Burger Button */
.burger {
    display: none;
}

.burger div {
    width: 25px;
    height: 3px;
    margin: 5px;
    background-color: #333534;
    transition: all 0.3s ease;
}

/* Mobile Navigation Bar - Burger Button Toggle Animation */
.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

/* Mobile Navigation Bar - Active */
.nav-active {
    transform: translateX(0%)!important;
}

/* Page Section Heading */
.section-heading {
    font-size: 4vw;
    text-align: center;
}

/* Mobile Device - Parameters */
@media screen and (max-width: 768px) {

    /* Hide Page Body Overflow */
    body {
        overflow-x: hidden;
    }

    /* Mobile Navigation Bar */
    nav > .nav-links {
        position: absolute;
        right: 0px;
        padding-top: 25px;
        top: 0px;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        transform: translateX(-100%);
        transition: transform 0.5s ease-in;
        z-index: -1;
    }

    .nav-links a {
        opacity: 0;
    }

    /* Mobile Burger */
    .burger {
        display: block;
        float: left;
        cursor: pointer;
        z-index: 1;
    }

    /* Mobile Page Section Heading */
    .section-heading {
        font-size: 2rem;
    }

    /* Mobile Animation - Move Page Content Down 
    (Used When The Navigation Bar Is Activated On A Mobile Device */
    @keyframes movePageContentDown {
        from {
            transform: translateY(0px);
        }
        to {
            transform: translateY(100px);
        }
    }

}

/* Mobile Navigation Bar - Link Fade-In Animation */
@keyframes navLinkFadeIn {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}