* {
    margin:0;
    padding:0;
    border:0;
}

body {
    background-color: #f3f5f9;
    color: #333534;
    font-family: "Nunito", sans-serif;
    /*text-shadow: 0.1px 0.1px 5px #333534;*/
}

nav {
    position: relative;
    padding: 1rem 1rem;
    font-size: 1.3rem;
}

nav > div {
    display: inline;
}

nav > div > .nav-link {
    border-bottom: 0px solid transparent;
}

nav > div .nav-link:hover {
    transition-duration: 0.3s;
    border-bottom: 3px solid #ff5964;
}

nav > div > .nav-element {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    font-weight: bold;
    text-transform: uppercase;
}

a {
    color: #333534;
    cursor: pointer;
    text-decoration: none;
    background-color: transparent;
}

.header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header > h1 {
    font-size: 5rem;
}

.float-right {
    float: right;
}

.active {
    border-bottom: 3px solid #ff5964 !important;
}

.dark-background {
    background-color: #333534;
    color: #f3f5f9;
}

.dark-background a {
    color: #f3f5f9 !important;
}